<!DOCTYPE html>
<html xml:th="http://thymeleaf.org">
    <head>
        <title>Estudiantes</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="funciones.js"></script>
    </head>
    <body>
        <h1>Bienvenido al Sistema de Matricula para Estudiantes!</h1>
        <form action="/listar">
            <input type="submit" value="Matricular!"/>
            <div id="contenedor"></div>
        </form>  
        <br>
        <form action="/listarCursos">
            <input type="submit" value="Ver tus Cursos!"/>
            <div id="contenedor"></div>
        </form>  
        <br>
    </body>
</html>
