<!DOCTYPE html>

<html xml:th="http://thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Lista de Cursos</h1>
            <br>
            <table border="1px">
                <tr th:each="temp:${lista}">
                    <td th:text="${temp.idAsignatura}"></td>
                    <td th:text="${temp.nombre}"></td>
                    <td><a th:href="@{matricular/}+${temp.numero}">Matricular</a></td>
                    <td><a th:href="@{detalles/}+${temp.numero}">Ver Detalles</a></td>
                </tr>
            </table>

        </div>


    </body>
</html>